<div class="content-generator-output">
  <b>Responsible entity:</b><br/>
  Severin Probst<br/>
  Wiesenstrasse 32<br/>
  5400 Baden<br/>
  Switzerland<br/>
  <strong>Email</strong>: <a href="mailto:s.probst.inf21@stud.bbbaden.ch">S.Probst.inf21&#64;stud.bbbaden.ch</a><br/><br/>
  <strong>Disclaimer</strong><br/>
  The author assumes no liability for the correctness, accuracy, timeliness, reliability and completeness of the
  information.<br/>Liability claims against the author for material or immaterial damage resulting from access to, use
  or non-use of the published information, from misuse of the connection or from technical malfunctions are
  excluded.<br/><br/>All offers are non-binding. The author expressly reserves the right to change, add to, or delete
  parts of the pages or the entire offer without prior notice, or to temporarily or permanently cease
  publication.<br/><br/><strong>Disclaimer for content and links</strong><br/>References and links to third party
  websites are outside our area of responsibility. It rejected any responsibility for such websites. Access to and use
  of such websites is at the user's own risk.<br/><br/><strong>Copyright declaration</strong><br/>The copyrights and all
  other rights to content, images, photos or other files on this website belong exclusively to Severin Probst or the
  specifically named rights holders. The written consent of the copyright holder must be obtained in advance for the
  reproduction of any elements.<br/><br/><strong>Source</strong>: <a style='color:inherit;text-decoration:none;'
                                                                     href='https://brainbox.swiss/'>BrainBox
  Solutions</a></div>

