@font-face {
  font-family: formula1;
  src: url('../../assets/fonts/Formula1-Wide.otf');
}

.title {
  font-family: formula1;
}

.space-y-1.open span:nth-child(1) {
  transform: rotate(45deg) translate(5.5px, 5.5px);
}
.space-y-1.open span:nth-child(2) {
  opacity: 0;
}
.space-y-1.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5.5px, -5.5px);
}
