<div class="flex items-center justify-center p-5 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
  <div class="body-container">
    <div class="flex justify-between mb-4">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        placeholder="Search..."
        class="border p-2 rounded"
      />
      <button routerLink="/group/new" class="bg-gray-700 text-white p-2 rounded hover:bg-red-600">New Group</button>
    </div>

    <table class="w-full max-w-4xl bg-white shadow-md my-5 border-collapse">
      <thead class="bg-gray-100">
      <tr>
        <th class="px-4 py-3 text-left border-b border-gray-300 flex items-center cursor-pointer" (click)="sort('name')">
          <p>Name</p>
          @if(sortColumn === 'name' && sortDirection === 'asc') {
            <span>&#9650;</span>
          } @else if (sortColumn === 'name' && sortDirection === 'desc') {
            <span>&#9660;</span>
          }
        </th>
        <th class="px-4 py-3 text-left border-b border-gray-300 cursor-pointer" (click)="sort('rank')">
          <p>Rank</p>
          @if(sortColumn === 'rank' && sortDirection === 'asc') {
            <span>&#9650;</span>
          } @else if (sortColumn === 'rank' && sortDirection === 'desc') {
            <span>&#9660;</span>
          }
        </th>
        <th class="px-4 py-3 text-left border-b border-gray-300 cursor-pointer" (click)="sort('points')">
          <p>Points</p>
          @if(sortColumn === 'points' && sortDirection === 'asc') {
            <span>&#9650;</span>
          } @else if (sortColumn === 'points' && sortDirection === 'desc') {
            <span>&#9660;</span>
          }
        </th>
        <th class="px-4 py-3 text-left border-b border-gray-300 cursor-pointer">Actions</th>
      </tr>
      </thead>
      <tbody>
        @for (group of sortedGroups; track  group) {
          <tr class="hover:bg-gray-100">
            <td class="px-4 py-3 border-b border-gray-300">{{ group.name }}</td>
            <td class="px-4 py-3 border-b border-gray-300">{{ group.rank }}</td>
            <td class="px-4 py-3 border-b border-gray-300">{{ group.points }}</td>
            <td class="px-4 py-3 border-b border-gray-300 relative">
              <button class="p-2 border bg-gray-700 text-white hover:bg-red-600" (click)="toggleGroupMenu(group.name)">
                Settings
              </button>
              @if(openGroupMenu === group.name) {
                <div class="absolute z-30 right-0 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5">
                  @if(isAdmin()) {
                    <button routerLink="/group/edit/{{group.group_guid}}" class="block px-4 py-2 text-sm text-gray-700 w-full text-left hover:bg-gray-100" (click)="showDetails(group)">Edit</button>
                  } @else {
                    <button routerLink="/group/view/{{group.group_guid}}" class="block px-4 py-2 text-sm text-gray-700 w-full text-left hover:bg-gray-100" (click)="showDetails(group)">Show Details</button>
                  }
                  <button class="block px-4 py-2 text-sm text-gray-700 w-full text-left hover:bg-gray-100" (click)="tipNow(group)">Tip Now</button>
                  <button class="block px-4 py-2 text-sm text-gray-700 w-full text-left hover:bg-gray-100" (click)="leaveGroup(group)">Leave Group</button>
                  @if(isAdmin()) {
                    <button class="block px-4 py-2 text-sm text-gray-700 w-full text-left hover:bg-gray-100" (click)="deleteGroup(group)">Delete Group</button>
                  }
                </div>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
    <button routerLink="/group/new" class="px-4 py-2 bg-gray-700 text-white rounded hover:bg-red-600">Create new</button>
  </div>
</div>
