<footer class="bg-gray-700 bottom-0 z-50 w-full text-white">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <a href="https://www.instagram.com/silarov/">©2024 Silarov</a>
        </div>
      </div>
      <div class="sm:block sm:ml-6">
        <div class="flex space-x-4">
          <button class="rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Impressum</button>
          <button class="rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Datenschutzerklärung</button>
        </div>
      </div>
    </div>
  </div>
</footer>
